html,body{
    margin: auto;
    width: 100%;
    height: 100%;
    font-family: Arial;
}
.angel{
    width: 100%;
    height: 800px;
}
.titu{
    position: absolute;
    top: 100px;
    left: 37%;
    color: aliceblue;
    font-size: 12em;
}
.subtitu{
    background: linear-gradient(to right, rgb(216, 68, 10),rgb(212, 18, 148));
  -webkit-background-clip: text;
  color: transparent;  
}   
.subtitulo{
    position: absolute;
    top: 2200px;
    left: 70%;
    color: aliceblue;
    font-size: 3em;
}
.subtitulo1{
    position: absolute;
    top: 2245px;
    left: 70%;
    color: aliceblue;
    font-size: 3em;
}
.parra{
    width: 20%;
    position: absolute;
    top: 2360px;
    left: 70%;
    color: aliceblue;
    font-size: 1em;
}
.caja1{
    width: 30%;
    justify-items:start;
    height: 10%;
    margin: 10% 25%;
    font-size: 20px; 
}
button{
    margin-top: 20px;
    width: 100%;
    padding: 20px;
    background-color: rgb(253, 76, 92);
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 100px;
    border: none;
    
}
.caja{
    width: 30%;
    justify-items:start;
    height: 10%;
    margin: 10% 50%;
    font-size: 20px;
}
.imgs1{
   position: absolute;
   left: 60%;
   width: 20%;
   height: auto;
   top: 90%;
}
.imgs{
    position: absolute;
    left: 450px;
    width: 20%;
    height: auto;
    top: 1400px;
}
.imgs2{
    width: 100%;
}
.margen4{
    width: 100%;
    background: url("../assets/images/raptis.png") no-repeat center center/cover;
    color: #fff;
    padding: 200px 0;
    background-size: cover;
    margin: auto;
    position: relative;
    
}
.margen4 h1 {
    width: 30%;
    padding: 10px;
    font-size: 60px;
    margin-bottom: -40px;
    position: relative;
    top: -50px;
    left: 1000px;
}
.margen4 p {
    width: 40%;
    font-size: 25px;
    margin-top: 60px;
    color: #fff;
    position: relative;
    top: -50px;
    left: 1000px;
    line-height: 2.0;
}
.margen4 button {
    position: absolute;
    margin-top: 1px;
    width: 15%;
    padding: 30px;
    background-color: rgb(253, 76, 92);
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 100px;
    border: none;
    left: 52%;
}
footer {
  background: rgb(253, 76, 92);
  color: white;
  padding: 50px 20px 20px;
  position: relative;

}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}

.footer-column h4 {
  margin-bottom: 10px;
  line-height: 4.0;
}

.footer-column p {
  margin: 6px 0;
  line-height: 2.0;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  padding-top: 20px;
  font-size: 14px;
  margin-top: 30px;
}

.footer-bottom span {
  display: block;
  margin-top: 5px;
}